@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  @media (max-width: 768px) {
    font-size: 75%; /* Font size for screens with a minimum width of 768px */
  }

  @media (max-width: 1024px) {
    font-size: 85%; /* Font size for screens with a minimum width of 1024px */
  }
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
